.nested_fields
  = f.hidden_field :_destroy
  .float-end= link_to "<i class='fas fa-trash'></i> Delete".html_safe, '#', class: "btn btn-sm btn-outline-danger remove_fields"
  .col-sm-9
    %label.form-label{:for => "name"} Name
    = f.text_field :name, class: "form-control", placeholder: 'Name'
  .col-sm-9
    %label.form-label{:for => "ip_address"} IP Address
    = f.text_field :ip_address, class: "form-control", placeholder: 'IP Address'
  %hr